<template>
  <div class="row">
    <div class="form-group col-12">
      <input type="text" class="form-control" v-model="task" placeholder="Enter New Task" @keyup.enter="addTask">
    </div>
  </div>
</template>
<script>
export default {
  name: "InputToDoItem",
  data() {
    return {
      task: ""
    };
  },
  methods: {
    addTask: function() {
      this.$root.$emit("add-task", {
        name: this.task,
        done: false
      });
     this.task = null
    }
  }
};
</script>
<style scoped>
.label:hover {
  cursor: pointer;
}
.checked {
  text-decoration: line-through;
  color: red;
}
</style>


